<div class="row">
  <div class="col text-center">
    <h1>Select Commits</h1>
  </div>
</div>
<div class="row main-content">
  <div class="col">
    <select class="custom-select" [(ngModel)]="selectedCommits" (ngModelChange)="onSelectedCommitChange($event)" multiple>
      <option *ngFor="let commit of commits" [ngValue]="commit">
        {{ commit.abbrevHash }} | {{ commit.authorName }} | {{ commit.subject }}
      </option>
    </select>
  </div>
  <div class="col">
    <select class="custom-select" [(ngModel)]="selectedFiles" multiple>
      <option *ngFor="let file of files" [ngValue]="file">
        {{ file.status }} - {{ file.fileName }}
      </option>
    </select>
  </div>
</div>
<div class="row fixed-bottom nav-buttons">
  <div class="col text-left">
    <a href="#/select-repo" class="btn btn-danger">Back</a>
  </div>
  <div class="col text-right">
    <a href="#/ftp-config" class="btn btn-success" (click)="onNext()">Next</a>
  </div>
</div>
