<div class="row">
  <div class="col text-center">
    <h1>Upload</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <h4 class="text-center">Files</h4>
    <ul class="list-group file-list">
      <li *ngFor="let selectedFile of selectedFiles" class="list-group-item">
        {{selectedFile.Status}} - {{selectedFile.FileName}}
      </li>
    </ul>
  </div>
  <div class="col">
    <h4 class="text-center">FTP Settings</h4>
    <strong>Host:</strong> {{ftpConfig.Host}}<br>
    <strong>Port:</strong> {{ftpConfig.Port}}<br>
    <strong>Username:</strong> {{ftpConfig.Username}}<br>
    <strong>Password:</strong> **********<br>
    <strong>Is Staging:</strong> {{ftpConfig.IsStaging}}
  </div>
</div>
<div class="row">
  <div class="col">
    <h4>Log</h4>
    <div class="log-dump"></div>
  </div>
</div>
<div class="row fixed-bottom nav-buttons">
  <div class="col text-left">
    <a href="#/ftp-config" class="btn btn-danger">Back</a>
  </div>
  <div class="col text-right">
    <button type="submit" class="btn btn-success">Upload</button>
  </div>
</div>
